iframe{
  border-style: solid;
  border-width: 5px;
  border-color: red;
  display:block;
  margin:0 auto 5%;
  width:1020px;
  height:600px;
  background-image: url("path.png");
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: center;
}

h1{
  text-align: center;
}




body{
  text-align: center;
  margin-bottom: 0;
  font-family: 'Merriweather', serif;
}

p{
  margin-bottom: 0;
}

a{
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin: 20px;
}

h1,h2,h3{
  color:#7fdbda;
  font-family: 'Ubuntu';
}
/* navbar */

/* video */
.title{
  padding-top: 7%;
  padding-bottom: 2.5%;
  color:red;

}
#video{
  padding-bottom: 2%;
  background-color: #dff6f0;
  margin-bottom: 1%;
}
/* platforms */
#platforms{
  padding-top:5%;
  padding-bottom: 5%;
}
.platform{
  color:#f0ad4e;
}

/* Buttons */
.btn{
  text-align: center;
  font-family:"Montserrat";
  font-weight: 600;
  font-size: 1.5rem;
}

.meet-buttons-1, .zoom-buttons-1, .classroom-buttons-1, .teams-buttons-1{
  padding-left:500px;
  padding-top:20px;
  padding-bottom: 60px;
}
/* Google Meet */
.meet-heading{

}
.english-meet{
  top:1190px;
  left:300px;
}

.hindi-meet{
  top:1190px;
  left:470px;
}


/* zoom */


.zoom-heading{
}
.english-zoom{

}

.hindi-zoom{

}
/* Teams */

.english-teams{

}

.hindi-teams{

}

.teams-heading{

}

/* Classroom */

.english-classroom{

}

.hindi-classroom{

}

.classroom-heading{

}


/* Footer */
#footer{
  background-color: #5cb85c;
  padding: 50px 0px 0px;
}
.tagline{
  font-size:2rem;
  color:#fff;
  padding:1 2 1%;
}

.copyright{
  color: white;
  font-size: 0.75em;
  padding: 10px 10px 0;
}

/* Media Query */


@media (max-width:1250px){
  .meet-buttons-1, .zoom-buttons-1, .classroom-buttons-1, .teams-buttons-1{
    padding-left:300px;
  }

  .platform{
    position: relative;
    right:50px;
  }

}

@media (max-width:1000px){
  .meet-buttons-1, .zoom-buttons-1, .classroom-buttons-1, .teams-buttons-1{
    padding-left:0;
  }

  .platform{
    position: relative;
    left:10px;
  }

}
